# API Keys and Configuration
TastyCompass/TastyCompass/Config.plist

# Xcode User Data
*.xcuserstate
*.xcworkspace/xcuserdata/
UserInterfaceState.xcuserstate
project.xcworkspace/xcuserdata/
xcuserdata/

# Build files
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
*.xcworkspace
!*.xcodeproj/project.xcworkspace/

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

